<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="/images/weather.png">
  <title> About </title>
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
      {{>header}}
      <p>This is site was created by German Valdez. It was used with mapbox.com and darksky</p>
      <img class ="portrait" src="/images/robot.png">

    </div>


  {{>footer}}

</body>


</html>
